body {
    background:#f3f2f1;
    font-family:Arial, Helvetica, sans-serif; 
}

.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment {
    width:25%;
    padding:10px;
    margin:10px;
    margin-bottom: 30px;
    background:lightgray;
    border-radius:5px;
    box-shadow: 5px 10px darkorchid;
}

.assignment img {
    width:200px;
    border: 1px solid #7FFFD4;
    margin-right:20px;
    border-radius:5px;
    display:block;
    margin:auto;
}

h1 {
    color: darkorchid;
    text-align:center;
}

a {
    text-decoration:none;
    color:black;
}

.assignment a:hover {
    color: darkorchid;
}